@import "../../../../styles/variables";

.header-nav-container {

  @include w;
  @include clearfix;

  .search,
  .user-unlogin {
    height: 60px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
  }
  .user-login {
    width: 45px;
    height: 60px;
    float: right;
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
    display: flex;
    align-items: center;

    .el-image {
      width: 35px;
      height: 35px;
      border-radius: 50%;

    }
  }

  .logo-box {
    height: 60px;
    float: left;
    color: #00a7eb;
    line-height: 60px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 22px;
  }

  ::v-deep .el-menu {
    float: left;
    height: 60px;

    .el-menu-item,
    .el-submenu__title {
      font-size: 16px !important;
    }
  }

}
