@import "src/styles/common";
.navbar-container {
  @include clearfix;
  background: #ffffff;
  border-bottom: solid 1px #e6e6e6;
  .side-trigger-container {
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }
  .breadcrumb-container {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
  }
  .right-menu {
    float: right;
    height: 50px;
    line-height: 50px;
    display: flex;
    font-size: 20px;
    li {
      padding: 0 10px;
      cursor: pointer;
      overflow: hidden;
      &:last-child {
        padding-top: 10px;
      }
    }
    .profile-container {
      width: 80px;
      display: block;
      line-height: 40px;
    }
  }
}
