@import "/src/styles/variables";

.friend-link-container {
  margin-bottom: $marginBottomTags;
  @include tagsBasicStyle;

  &:hover ::after {
    width: 70px;
  }

  h2 {
    @include hotTagsH2;
  }

  ul {
    font-size: 14px;
    @include clearfix;

    li {
      float: left;
      color: $textColor3;
      margin: 0 10px 10px 0;

      &:hover {
        cursor: pointer;
        color: $textHoverColor3;
        text-decoration: underline;
      }
    }
  }

}
