@import "src/styles/common";
.tags-view-container {
  @include clearfix;
  border-bottom: solid 1px #e6e6e6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 0 3px 0 rgba(0, 0, 0, .04);
  padding: 5px 100px 5px 40px;
  position: relative;

  .left-btn {
    position: absolute;
    left: 12px;
    top: 7px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: #ddd;
    }
  }

  .right-btn {
    position: absolute;
    right: 30px;
    top: 7px;
    display: flex;
    .scroll-right {
      margin-right: 15px;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
    }

    .scroll-left {
      position: relative;
      font-size: 18px;
      top: -1px;
      cursor: pointer;
    }

  }

  .inner-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .tags-view-item {
      margin-left: 5px;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      font-size: 12px;
      border: 1px solid #d8dce5;
      color: #495060;
      background: #fff;
      padding: 0 8px;
      cursor: default;
      i {
        cursor: pointer;
        font-size: 8px;
      }
      &.active {
        background-color: #42b983;
        color: #fff;
        border-color: #42b983;
        &::before {
          content: '';
          background: #fff;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 2px;
        }
      }
    }
  }


}
