@import "/src/styles/variables";

.message-board-container {
  margin-top: $marginTopMain;
  position: relative;

  .motto {
    @include motto;
  }

  ::v-deep #tab-home {
    @include tabHome;
  }

  ::v-deep .el-tab-pane {
    .comment-message-list {
      padding-bottom: 230px;
      padding-left: 5px;
    }
  }
}
